<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>002JspBasic</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- sessting ServletContext initialization parameters -->
	<context-param>
		<param-name>Lead</param-name>
		<param-value>Sudha</param-value>
	</context-param>
	<context-param>
		<param-name>ProjectDate</param-name>
		<param-value>19-05-2019</param-value>
	</context-param>
	<session-config>
		<session-timeout>5</session-timeout>
		<!-- setting the session time out declaratively in web.xml in minutes -->
	</session-config>
	
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error_page.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/error_page.jsp</location>
	</error-page>








</web-app>