body{
	background-color:lightblue;
	font-size:20px;
}
#div1{
	padding: 20px 20px 20px 200px; 
	color:black;
	background-color:teal;	
}
#menu{
	padding: 0;
}
#menu li{
	display:inline;
}
#menu li a{	
	background-color:black;
	color:white;
	padding:10px 50px 20px 45px;
	text-decoration:none;
}
#menu li a:hover{
	background-color:orange;
}